-# include view specific js
- @view_js = ['pages/index']
%header.container
  .top-bar
    = link_to root_path, class: 'logo' do
      .logo-img
        = image_tag 'shared/logo.svg', alt: 'Elvis', class: 'responsive'
      .logo-text
        %h1 Elvis
    #modules-mount-point
    %nav
      = link_to 'Features', '#'
      = link_to 'Sign In', '#'
      = link_to 'Register', '#', class: 'action'

%section.splash-section.container.absolute
  %h2
    Planning for your NUS modules
    %br/
    has never been this easy.
  = link_to '#' do
    %button.action#start-now
      Start Now

%section.main-section.container.absolute
  .modules-display
    %h2 Selected Modules
    #modules-display-mount-point
  .timetable-display#timetable-mount-point
