!!! 5
%html
  %head
    %meta(content="text/html; charset=UTF-8" http-equiv="Content-Type")
    %meta{charset: 'utf-8'}
    %meta{content:"width=device-width, initial-scale=1.0", name:"viewport"}
    %title Elvis
    = stylesheet_link_tag :application, 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    = yield
    = javascript_include_tag :application, 'data-turbolinks-track' => true
    = yield(:js)
    :javascript
      WebFontConfig = {
        google: { families: [ 'Open+Sans:400,600,800,700,300:latin' ] }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
        '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();
